.conteiner-list {
  display: flex;
  flex-direction: column;
}

.book-card {
  display: flex;
  overflow-x: scroll;
  height: 300px;
  width: 50vw;
}

.book-card >img {
  width: 50vw;
  height: 300px;
  object-fit: fill;
  border-radius: 0.2rem;
  margin: 0.6px;
}

.book-card span {
  white-space: nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
}

/* .book-list {
  display: flex;
  overflow-x: scroll;
} */
