body, html, .root {
  background-color: #1E2229;
  color: #CDD8E6;
}

/* Página de login: */

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.login-page img {
  width: 60vh;
}

/* Header */
header {
  display: flex;
  justify-content:center;
  align-items: center;
  margin: auto;
  padding: 50px;
  width: 100vh;
}

.user-login {
  font-size: 25px;
  text-decoration: none;
  color: #CDD8E6;
}

.button-search {
  padding: 0;
  border: none;
  background: none;
}

.image-user {
  margin-right: 20px;
  width: 60px;
  border-style: solid;
  border-color: white;
  border-width: 1.5px;
  border-radius: 100%;
}

.icon {
  width: 40px;
  margin-left: 25px;
}

/* Componente bookCard: */
.conteiner-list-h1 {
  color:white;
  font-size: 40px;
  margin: 50px;
  margin-top: 0;
}

.book-cards {
  display: flex;
  align-content: center;
  overflow-x: scroll;
  margin: 50px;
}

.book-card {
  display: flex;
  flex-direction: column;
  width: 12vw;
  margin: 0 5px;
}

.book-card > img {
  border-radius: 0.6rem;
  width: 12vw;
  height: 18vw;
  object-fit: fill;
}

.book-card-text {
  text-overflow: ellipsis;
  /* white-space: nowrap; */
  overflow: hidden;
  font-size: 24px;
  font-weight: 400;
  text-decoration: none;
  color: #CDD8E6;
}

/* Componente informações */

.conteiner-list-info {
  margin: 50px;
}

.conteiner-list-info > img {
  border-radius: 0.6rem;
  width: 12vw;
  height: 18vw;
  object-fit: fill;
}

.conteiner-list-info h2{
  font-size: 30px;
  margin-top: 30px;
}

.conteiner-list-info p {
  font-size: 25px;
}

.button-back {
  background-color: #56E193;
  text-decoration: none;
  font-size: 25px;
  color: #1E2229;
  padding: 10px;
  border-radius: 0.3rem;
}